<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MikroFicha"
        tools:targetApi="31">

        <activity
            android:name=".activity_chat"
            android:exported="false"
            android:label="MikroBot 🤖"
            android:screenOrientation="portrait" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name=".BluethoothMain"
            android:exported="false"
            android:label="Dispositivos BT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScriptAdminHotspot"
            android:exported="false"
            android:label="Script Hotspot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TerConPoli"
            android:exported="false"
            android:label="Reserva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IPBinding"
            android:exported="false"
            android:label="IP Binding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Precios"
            android:exported="false"
            android:label="Precios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FichasPDF"
            android:exported="false"
            android:label="Fichas PDF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UsuarioActivo"
            android:exported="false"
            android:label="Usuarios activos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario"
            android:exported="false"
            android:label="Fichas Creadas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Planes"
            android:exported="false"
            android:label="Planes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin"
            android:exported="false"
            android:label="Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Router"
            android:exported="false"
            android:label="Router"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MikroFicha"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TemplateDesignerActivity"
            android:exported="true"
            android:label="Temply"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity_login"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
        <!--
 ANUNCIO Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713
         ca-app-pub-7572150509502514~7969142634 original
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8581380224867392~6496767761" />
    </application>

</manifest>